In [2]:
import pandas_datareader.wb as wb
data1 = wb.search(string='SE.PRM.TENR',field='id')

In [3]:
data1

,id,name,unit,source,sourceNote,sourceOrganization,topics
10225,SE.PRM.TENR,"Adjusted net enrollment rate, primary (% of pr...",,World Development Indicators,Adjusted net enrollment is the number of pupil...,b'UNESCO Institute for Statistics (http://uis....,Education
10226,SE.PRM.TENR.FE,"Adjusted net enrollment rate, primary, female ...",,World Development Indicators,Adjusted net enrollment is the number of pupil...,b'UNESCO Institute for Statistics (http://uis....,Education ; Gender
10227,SE.PRM.TENR.MA,"Adjusted net enrollment rate, primary, male (%...",,World Development Indicators,Adjusted net enrollment is the number of pupil...,b'UNESCO Institute for Statistics (http://uis....,Education ; Gender

In [4]:
data1.iloc[:,:3]

                   id                                               name unit
10225     SE.PRM.TENR  Adjusted net enrollment rate, primary (% of pr...
10226  SE.PRM.TENR.FE  Adjusted net enrollment rate, primary, female ...
10227  SE.PRM.TENR.MA  Adjusted net enrollment rate, primary, male (%...

In [5]:
data1.iloc[:,3:]

,source,sourceNote,sourceOrganization,topics
10225,World Development Indicators,Adjusted net enrollment is the number of pupil...,b'UNESCO Institute for Statistics (http://uis....,Education
10226,World Development Indicators,Adjusted net enrollment is the number of pupil...,b'UNESCO Institute for Statistics (http://uis....,Education ; Gender
10227,World Development Indicators,Adjusted net enrollment is the number of pupil...,b'UNESCO Institute for Statistics (http://uis....,Education ; Gender

In [6]:
data1.iloc[:,1]

10225    Adjusted net enrollment rate, primary (% of pr...
10226    Adjusted net enrollment rate, primary, female ...
10227    Adjusted net enrollment rate, primary, male (%...
Name: name, dtype: object

In [7]:
data1.iloc[0,1]

'Adjusted net enrollment rate, primary (% of primary school age children)'

In [8]:
data1.iloc[1,1]

'Adjusted net enrollment rate, primary, female (% of primary school age children)'

In [9]:
data1.iloc[2,1]

'Adjusted net enrollment rate, primary, male (% of primary school age children)'